body {
    background  : #6b6d41;
}


@import "../scss/variables";
@import "../scss/reset";
@import "../scss/header";
@import "../scss/nav";
@import "../scss/fixed";
@import "../scss/index";
@import "../scss/catalogo";
@import "../scss/contactarnos";
@import "../scss/carrito";
@import "../scss/footer";
@import "../scss/media-querys";