
$backgroud: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23cacc80' fill-opacity='0.25'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

$instagram-color: linear-gradient(191deg, rgba(131,58,180,1) 27%, rgba(247,30,36,1) 63%, rgba(253,29,29,1) 72%, rgba(252,176,69,1) 100%);

@mixin redes ($color, $radius) {
    color: #f4f8a1;
    padding: 7px;
    &:hover {
        color: white;
        border-radius: $radius;
        background: $color;
        transition: all 300ms ease-out;
    }
}