.nav {
    background: #282828;
    & ul {
        display:flex;
        padding: 5px;
        justify-content: space-around;
        align-items: center;

        width: 100%;
        height: 7vh;//64px
    }
    & li {
        display: none;
        font-size: 1.5em;
        transition: all 300ms ease-in-out;

        &:hover{
            background: #ffffff44;
            transition: all 300ms ease-out;
            border-radius: 20px;
        }
        & p {
            padding: 15px;
            color: #7c7419;
        } 
        & a{            
            text-decoration: none;
        }
        & img {
            padding: 5px;
            height: 50px;
        }
    }
}